/* Copy of DeckCard styles with cursor pointer instead of move */
.card {
    cursor: pointer;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    aspect-ratio: var(--card-ratio);
    position: relative;
    background-size: contain;
    /* content-visibility: auto; removed to prevent rendering issues */
    transition: 0.1s;

    &:hover {
        filter: brightness(0.9);
        transform: translateY(-2px);
    }

    .cardname {
        font-size: 12px;
        position: absolute;
        padding: 5px;
        top: 0;
        bottom: 0;
        max-height: 100%;
        margin: auto;
        left: 0;
        height: fit-content;
        width: 100%;
        text-align: center;
        line-height: 1.75em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        text-shadow: 0 0 2px #000;
    }

    .cardcover {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.5s ease-in-out;
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;
    }

    .cardlimit {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
    }
}