.navbar {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 2rem 0 1rem;
  gap: 1.5rem;
  box-sizing: border-box;
  background: hsl(188.29deg 30.97% 46.56%);
  border-bottom: 2px solid #43a496;

  .logo-container {
    align-items: center;
    height: min-content;
    padding: 5px 10px;
    transition: 0.2s;
    border-radius: 8px;
    cursor: pointer;

    .logo {
      height: 32px;
      width: auto;
      transition: 0.2s;
    }

    &:hover {
      .logo {
        transform: scale(1.05);
        filter: drop-shadow(0 0 8px rgba(251, 191, 36, 0.5));
      }
    }
  }

  .link {
    color: white;
    font-size: 0.825rem;
    line-height: var(--header-height);
    transition: 0.3s;

    &:not(.disabled):hover {
      box-shadow: 0px 2px 0 0 white inset;
    }

    &:global(.active) {
      box-shadow: 0px 2px 0 0 white inset;
    }

    &.disabled {
      color: hsl(0, 0%, 50%);
      cursor: not-allowed;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main {
  flex: 1;
}