.search-cards {
  --card-width: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  padding: 0.75rem;
  gap: 0.625rem;
  height: 100vh;
  overflow-y: auto;
}

.pagination-container {
  text-align: center;
  padding: 0.625rem 0 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty {
  gap: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}